<!-- Tabs Go Here -->
<section>
    <ul class="nav nav-pills">
        <li ng-class="{ active:vm.isSet(1) }">
            <a href ng-click="vm.setTab(1)">Description</a>
        </li>
        <li ng-class="{ active:vm.isSet(2) }">
            <a href ng-click="vm.setTab(2)">Specs</a>
        </li>
        <li ng-class="{ active:vm.isSet(3) }">
            <a href ng-click="vm.setTab(3)">Reviews</a>
        </li>
    </ul>

    <product-description ng-show="vm.isSet(1)"></product-description>
    <div product-specs ng-show="vm.isSet(2)"></div>
    <product-reviews for-product="product" ng-show="vm.isSet(3)"></product-reviews>
</section>